.drinkCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $medium-grey;
  border-radius: $spacing;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  h2 {
    font-size: $font-size-large;
    margin-bottom: $spacing;
  }

  h3 {
    font-size: $font-size-medium;
  }

  .drinkDesc {
    margin: $spacing;
    display: flex;
    flex-direction: column;
    gap: $spacing;
    font-size: $font-size-medium;
    width: 60%;

    @include responsive(700px) {
      width: 70%;
    }

    .ingredientsList {
      display: grid;
      gap: 0.25rem;
    }

    .ingredientItem {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 1rem;
      padding: 0.25rem 0;
    }
  }

  .imgContainer {
    width: 50%;
    min-width: 90px;
    max-width: 200px;
    height: fit-content;
    margin: $spacing;

    @include responsive(860px) {
      width: 30%;
    }
  }

  .drinkImg {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}
